<h1>Multiple ways to contribute</h1>



<div class="donation-type">
  <h2>Annual Statewide Memberships</h2>
  <p>
    2016 is the first time that Techlahoma is offering memberships.
    Members who join this year will be counted as Founding Members, and this will be
    the only time you can earn that badge.
  </p>
  <p>
    Perfect for individuals and companies that want to join the cause.
  </p>
  <%= link_to "See Statewide Membership Plans", plans_path, :class => "button" %>
</div>

<div class="donation-type">
  <h2>Program and Area Sponsorships</h2>
  <p>
    Program and Area sponsorships allow donors to direct their
    contribution to a particular program, event or metro area.
  </p>
  <p>
    Perfect for institutions, companies, and individuals who want to
    donate at a higher level to specific activities.
  </p>
  <%= link_to "See Program and Area Sponsorship Opportunities", '/sponsorship', :class => "button" %>
</div>

