<% content_for :hero do %>
  <!-- Hero -->
  <section id="hero" class="container">
    <header>
      <h2>Get in on the ground floor</h2>
    </header>
    <p>
      2016 is the first time that Techlahoma is offering
      Memberships and Sponsorships. Individuals, companies and
      institutions who join this year will be recognized as
      <strong>Founding Members</strong> or <strong>Founding Sponsors</strong>. This is the only
      time that badge will be available.
    </p>
  </section>
<% end %>

<div class="row">
  <section class="6u 12u(narrower) feature">
    <!--
    <div class="image-wrapper first">
      <a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
    </div>
    -->
    <header>
      <h2>Annual Statewide Memberships</h2>
    </header>
    <p>
      Don't miss your chance to become a Founding Member
      through a tax deductible donation.
    </p>
    <p>
      You'll get some
      great members-only swag, and you'll be helping support
      Techlahoma's state-wide general operations.
    </p>
    <ul class="actions">
      <li><%= link_to "See Statewide Membership Plans", plans_path, :class => "button" %></li>
    </ul>
  </section>
  <section class="6u 12u(narrower) feature">
    <!--
    <div class="image-wrapper">
      <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
    </div>
    -->
    <header>
      <h2>User Group Sponsorships</h2>
    </header>
    <p>
      User group sponsorship allows donors to be seen prominently by the Techlahoma community.
    </p>
    <p>
      Perfect for institutions, companies, and individuals who want to donate at a higher level.
    </p>
    <ul class="actions">
      <li><%= link_to "See Program and Area Sponsorship Opportunities", '/sponsorship', :class => "button" %></li>
    </ul>
  </section>
</div>

