<% content_for :hero do %>
  <!-- Hero -->
  <section id="hero" class="container">
    <header>
      <h2>Get in on the ground floor</h2>
    </header>
    <p>
      Join in 2016 to be forever recognized as a<br>
      <strong>Founding</strong> Member or Sponsor.
    </p>
  </section>
<% end %>

<div class="row">
  <section class="6u 12u(narrower) feature">
    <!--
    <div class="image-wrapper first">
      <a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
    </div>
    -->
    <header>
      <h2>Membership</h2>
      <h3>$128 - $1024</h3>
    </header>
    <p>
      Support technology communities across the state.
    </p>
    <p>
      Tax-deductible donation.
    </p>
    <p>
      Members-only thank-you gifts.
    </p>
    <ul class="actions">
      <li><%= link_to "Join", plans_path, :class => "button" %></li>
    </ul>
  </section>
  <section class="6u 12u(narrower) feature">
    <!--
    <div class="image-wrapper">
      <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
    </div>
    -->
    <header>
      <h2>Sponsorship</h2>
      <h3>$2048 - $5120</h3>
    </header>
    <p>
      Support technology communities across the state.
    </p>
    <p>
      Connect with technology groups.
    </p>
    <p>
      Sponsors-only recognition.
    </p>
    <ul class="actions">
      <li><%= link_to "Sponsor", '/sponsorship', :class => "button" %></li>
    </ul>
  </section>
</div>

