<% content_for :hero do %>
  <!-- Hero -->
  <section id="hero" class="container">
    <header>
      <h2>Donate today!</h2>
    </header>
  </section>
<% end %>


<div class="row">
  <!--
  <section class="6u 12u(narrower) feature">
    <header>
      <h2>Donate</h2>
      <h3>Any amount</h3>
    </header>
    <p>
      Support technology communities across the state.
    </p>
    <p>
      Tax-deductible donation.
    </p>
    <p>
      Admiration of your friends and co-workers.
    </p>
    <ul class="actions">
      <li><%= link_to "Donate", new_donation_path, :class => "button cta" %></li>
    </ul>
  </section>
  -->
  <section class="6u 12u(narrower) feature">
    <header>
      <h2>Membership</h2>
      <h3>Various Amounts</h3>
    </header>
    <p>
      Support technology communities across the state.
    </p>
    <p>
      Tax-deductible donation.
    </p>
    <p>
      Members-only thank-you gifts.
    </p>
    <ul class="actions">
      <li><%= link_to "Join", '/membership', :class => "button cta" %></li>
    </ul>
  </section>

  <section class="6u 12u(narrower) feature">
    <header>
      <h2>Sponsorship</h2>
      <h3>$2048 - $5120</h3>
    </header>
    <p>
      Support technology communities across the state.
    </p>
    <p>
      Connect with technology groups.
    </p>
    <p>
      Sponsors-only recognition.
    </p>
    <ul class="actions">
      <li><%= link_to "Sponsor", '/sponsorship', :class => "button cta" %></li>
    </ul>
  </section>
</div>

<%#= render 'campaign_thermometer' %>

<!--
<p class="alternate-donation-link">
  <%= link_to "Interested in non-membership donations?", new_donation_path %>
</p>

<p class="alternate-donation-link">
  If you'd like to get in on the first batch of donor gifts, please, donate by April 30, 2016.
</p>
-->
