<% content_for :hero do %>
  <!-- Hero -->
  <section id="hero" class="container">
    <header>
      <h2>Techlahoma Statewide Membership Plans</h2>
    </header>
    <p>
      Join today and become a<br>
      <strong>Techlahoma Member</strong>.
    </p>
  </section>
<% end %>

<%#= render 'swagful' %>

<%= render 'swagless' %>


