<div class="donation-type">
  <h2>Area Sponsorship</h2>
  <p>
    Need text here.
  </p>
  <%= link_to "See Area Sponsorship Opportunities", '#', :class => "button" %>
</div>


<div class="donation-type">
  <h2>Program Sponsorship</h2>
  <p>
    Need text here.
  </p>
  <%= link_to "See Program Sponsorship Opportunities", '#', :class => "button" %>
</div>

