<% content_for :hero do %>
  <!-- Hero -->
  <section id="hero" class="container">
    <header>
      <h2>Techlahoma User Group Sponsorship Plans</h2>
    </header>
    <p>
      User group sponsorship allows donors to be seen prominently by the Techlahoma community.
    </p>

    <p>
      Join today and become a Founding Sponsor!
    </p>
  </section>
<% end %>

<div class="row">
  <section class="6u 12u(narrower) feature">
    <div class="plan">
    <h3>User Group Hero</h3>
    <h3>$2,048</h3>
    <h3>12 Opportunities</h3>
    <%= link_to "Sponsor Now", '#', :class => "button" %>
    <br/><br/>
    <p>
      Stratified Recognition Wall Props
    </p>
    <p>
      Website Stratified Recognition props
    </p>
    <p>
      Choose a month to be recognized as User Group Hero of the month in each Techlahoma technology group meeting.
    </p>
    </div>
  </section>

  <section class="6u 12u(narrower) feature">
    <div class="plan">
    <h3>Bootstrap Funder</h3>
    <h3>$5,120</h3>
    <h3>Only 2 Opportunities</h3>
    <%= link_to "Sponsor Now", '#', :class => "button" %>
    <br/><br/>
    <p>
      Stratified Recognition Wall Props
    </p>
    <p>
      Website Stratified Recognition props
    </p>
    <p>
      Recognition at Tulsa or OKC based Techlahoma technology groups from May 2016 - April 2017
    </p>
    </div>
  </section>
</div>

<section class="feature">
  <h4>Interested in sponsoring at a higher level? <%= link_to 'Contact Us!', '#' %></h4>
</section>
