
<div class="row">
  <section class="6u 12u(narrower) feature">
    <header>
      <h2>Area Sponsorship</h2>
    </header>
    <p>
      Need text here.
    </p>
    <ul class="actions">
      <li><%= link_to "See Area Sponsorship Opportunities", '#', :class => "button" %></li>
    </ul>
  </section>
  <section class="6u 12u(narrower) feature">
    <header>
      <h2>Program Sponsorship</h2>
    </header>
    <p>
      Need text here.
    </p>
    <ul class="actions">
      <li><%= link_to "See Program Sponsorship Opportunities", '#', :class => "button" %></li>
    </ul>
  </section>
</div>

