<% content_for :hero do %>
  <!-- Hero -->
  <section id="hero" class="container">
    <header>
      <h2>Update your subscription</h2>
    </header>
  </section>
<% end %>

<div class="row">
  <section class="6u 12u(narrower) -3u">
    <p>
      To make any changes to your monthly subscription,
      you will need to cancel it and create a new one.
    </p>
    <p>
      The link to cancel is in the email that you receive
      each month with the
      "Thanks for your monthly donation to Techlahoma!"
      subject line.
    </p>
    <p>
      Create a new subscription at:
      <a href="/subscriptions/new">https://donate.techlahoma.org/subscriptions/new</a>
    </p>
    <p>
    Send an email to <a href="mailto:donate@techlahoma.org">donate@techlahoma.org</a> if you need any help!
    </p>
  </section>
</div>
