<h1>Thank you!</h1>
<p>
  Thank you for your donation of <%= number_to_currency(@donation.amount) %>.
  For tax purposes we will credit your donation to <%= @donation.name %>.
</p>

<p>
  You can print this page as your receipt and we will also email a receipt
  to <%= @donation.email %>
</p>

<% if plan_gets_a_gift(@donation.plan) && @donation.accept_gift %>
  <p>
    This donation is fully tax deductible and no goods or services were provided
    to the donor except for a small gift whose value will be approximated in your year-end receipt.
  </p>
<% else %>
<% end %>

<h3>Public Recognition</h3>
<% if @donation.accept_recognition? %>
  <p>You'll be listed on our donors page as <%= @donation.donor_name %></p>
<% else %>
  <p>You have chosen to remain anonymous.</p>
<% end %>

<% if donation_gets_a_gift(@donation) %>
  <h3>Gift Delivery</h3>
  <p>At the end of the year we'll total up all of your donations and/or payments on a subscription in 2017 and that will determine your membership level.</p>
  <p>Then we'll send you a secret code that you can redeem in our members-only store for your gift(s).</p>
  <p>Your code will cover the entire cost of the suggested gifts for your membership level, but you can choose any gift(s) you'd like. You can also purchase additional items.</p>
<% end %>

