<h1>Listing donations</h1>

<table class="donors">

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td class="donor"><%= donation.donor_name %></td>
        <td class="date"><%= donation.created_at.to_s(:short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path %>
