
<%= image_tag 'techlahoma_logo.png' %>

<h1>Donate to Techlahoma!</h1>

<p>
  Your donation will help to fund user groups, workshops and conferences.
</p>

<%= render 'form' %>

<%= link_to 'Back', donations_path %>
