
<%= image_tag 'techlahoma_logo.png' %>

<h1>Donate to Techlahoma!</h1>

<p>
  Your donation will help to fund developer groups, educational workshops and conferences in the OKC metro area.
</p>

<hr/>

<%= render 'form' %>

