
<div class="row 150%">
  <div class="8u 12u(narrower)">
    <%= render 'thank_you' %>
  </div>
  <div class="4u 12u(narrower)">
    <section id="sidebar">
      <%= render 'subscriptions/side_tax_deductible' %>
      <%= render 'subscriptions/side_employer_match' %>
    </section>
  </div>
</div>



