<section>
  <header>
    <h3>Tax-Deductible</h3>
  </header>
  <p>
    Your contribution to Techlahoma is probably tax-deductible.
    After you donate we'll send you the paperwork to file with your taxes.
  </p>
  <p>
    Some sponsorships may not be fully tax-deductible, based on specific
    perks.
  </p>
</section>
