<div class="row 150%">
  <div class="8u 12u(narrower)">
    <h1>Become a <%= @plan[:name] %></h1>

    <%= render 'form' %>
  </div>
  <div class="4u 12u(narrower)">
    <section id="sidebar">
      <%= render 'sponsorships/side_tax_deductible' %>
      <%= render 'sponsorships/side_join_by_check' %>
    </section>
  </div>
</div>

