<fieldset>
  <legend>Donor Recognition</legend>
  <p>Would you like to be publicly recognized for your membership?</p>
  <div class="form-group inline">
    <%= f.radio_button(:accept_recognition, true) %>
    <%= f.label(:accept_recognition_true, "Yes, I'd like to be recognized.".html_safe) %>
    <%= f.radio_button(:accept_recognition, false) %>
    <%= f.label(:accept_recognition_false, "No, I'd rather remain anonymous.") %>
  </div>
</fieldset>
