<section>
  <header>
    <h3>Employer Match</h3>
  </header>
  <p>
    Many companies will match the contributions of their employers.
  </p>
  <p>
    Ask your company about it today and <strong>double</strong>
    the impact of your gift.
  </p>
  <!--
  <ul class="actions">
    <li><a href="#" class="button">Learn more about employer matching</a></li>
  </ul>
  -->
</section>
