<div class="row 150%">
  <div class="8u 12u(narrower)">
    <h1>Become a Techlahoma Member</h1>

    <%= render 'form' %>
  </div>
  <div class="4u 12u(narrower)">
    <section id="sidebar">
      <%= render 'subscriptions/side_tax_deductible' %>
      <%= render 'subscriptions/side_employer_match' %>
      <%#= render 'subscriptions/side_join_by_check' %>
    </section>
  </div>
</div>
