<div class="row 150%">
  <div class="8u 12u(narrower)">
    <h1>New subscription</h1>

    <%= render 'form' %>
  </div>
  <div class="4u 12u(narrower)">
    <section id="sidebar">
      <section>
        <header>
          <h3>Tax-Deductible</h3>
        </header>
        <p>
        Your contribution to Techlahoma is tax-deductible.
        After you donate we'll send you the paperwork to file with your taxes.
        </p>
      </section>
      <section>
        <header>
          <h3>Employer Match</h3>
        </header>
        <p>
          Many companies will match the contributions of their employers.
        </p>
        <ul class="actions">
          <li><a href="#" class="button">Learn more about employer matching</a></li>
        </ul>
      </section>
    </section>
  </div>
</div>
