<h1>Thank you!</h1>
<p>
  Thank you for your continuing support of <%= number_to_currency(@subscription.plan.amount/100) %>
  per <%= @subscription.plan.interval %>.
</p>
<p>
  You'll be listed on our donors page as <%= @subscription.donor_name %>.
</p>




