/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require main
 *= require_self
 */


#footer-tax-info{
  text-align:center;
}

#hero{
  /*margin-top:5em;*/
}

#header-wrapper{
  /*padding-top:3em;*/
}

.plan{
  padding:4em;
  margin-bottom:4em;
  background-image: image-url("images/overlay.png"), image-url("images/header.svg"), -moz-linear-gradient(75deg, #FFFFFF 15%, #FFFFFF 55%);
  background-image: image-url("images/overlay.png"), image-url("images/header.svg"), -webkit-linear-gradient(75deg, #FFFFFF 15%, #FFFFFF 55%);
  background-image: image-url("images/overlay.png"), image-url("images/header.svg"), -ms-linear-gradient(75deg, #FFFFFF 15%, #FFFFFF 55%);
  background-image: image-url("images/overlay.png"), image-url("images/header.svg"), linear-gradient(75deg, #FFFFFF 15%, #FFFFFF 55%);
}

form input.card-number {
  background-image: url(/images/creditcards/money.png);
  background-repeat: no-repeat !important;
  background-size: 30px !important;
  background-position: right 10px center !important;
}

form input.error{
  border-color:#990000;
  background-color:#ffdddd;
}

#navButton{
  display:none;
}

fieldset{

  border-bottom:1px solid #dddddd;
  padding-bottom:2em;
  margin-bottom:2em;

  legend{
    font-size:1.5em;
    margin-bottom:0.5em;
  }
}

.form-group{
  margin-bottom:0.5em;
}

/*
$dark-grey: #292829;
$bluish: #5bb8f0;
body{
  background:$dark-grey;
  line-height:2em;
}

p{
  line-height:2em;
}

input.text{
  border-radius:4px;
  border:1px solid #ddd;
  font-size:1.5em;
  padding:5px 1%;
  width:98%;
}

.button{
  width:100%;
  font-size:2em;
  padding:20px;
  border:1px solid $dark-grey;
  background:$bluish;
  color:white;
  border-radius:6px;
}

a.button{
  display:inline-block;
  max-width:60%;
}

.body-wrap{
  max-width:600px;
  margin:50px auto;
  background:white;
  padding:0px;
  border-radius:6px;
  border:1px solid white;
}

.body-wrap-inner{
  border:1px solid white;
  margin:50px;
  text-align:center;

  img{
    max-width:100%;
  }
}


.plan, .donation-type{
  background:#cdcdcd;
  border-radius:6px;
  padding:12px;
  padding-bottom:36px;
  margin-bottom:36px;

  a.small{
    display:block;
    &:hover{
      background:transparent;
      color:black;
    }
  }
}
*/
