<h1>Listing donations (Admin view)</h1>

<table class="donors">

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td class="donor"><%=link_to donation.donor_name, [:admin,donation] %></td>
        <td class="date"><%= link_to donation.created_at.to_s(:short), [:admin,donation] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
